h2{
    color: blue;
}

.box1{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}
.box2{
    background-color: green;
    color: yellow;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
}



p {
    font-family: Lato;
  }