
<p>hi</p>

 Factorial:<input type="fact" name="fact" placeholder="any valu" [(ngModel)]="n">
<button a class="clear" type="submit" value="Submit" (click)="fact(n)">findfact</button><br>
name: <input type="text" name="FirstName" placeholder="medicine_name" [(ngModel)]="name"><br>
type: <input type="text" name="LastName" placeholder="medicine_type" [(ngModel)]="type"><br>
<div *ngIf="!updat">
  <button a class="clear" type="submit" value="Submit" (click)="add(name,type)">add</button>
</div>
<div *ngIf="updat">
  <button a class="clear" type="submit" value="Submit" (click)=" update(name,type)">Update</button>
</div> 
<TABLE class="table">
  <thead>

    <td>ID</td>
    <td>NAME</td>
    <td>TYPE</td>
  </thead>
  <TR *ngFor="let anub1 of anub">
    <TD>{{anub1.id}}</TD>

    <TD>{{anub1.name}}</TD>
    <TD> {{anub1.type}}</TD>
    <td><button class="btn btn-danger" (click)="delete(anub1.id)"> Delete</button></td>
    <td><button class="btn btn-danger" (click)="Edit(anub1)"> Edit</button></td>
  </TR>

